
  @import url('https://fonts.googleapis.com/css2?family=Geologica:wght@200;500;700&family=Inter:wght@400;500;600;700;800;900&family=Lato:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Geologica", sans-serif;
  font-family: "Inter", sans-serif;
  font-family: "Lato", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.container {
    margin: 96px 32px 96px 32px;
    padding: 80px 0;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

li {
    list-style-type: none;
}

p {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5;
    margin: 32px 0;
    color: rgb (36, 62, 99);
}

button {
    background-color: rgb(100, 21, 255);
   color: white;
    padding: 0.75rem 2rem;
border-radius: 50px;
font-weight: 700;
font-size: 16px
}

header {
    margin : 2rem;
}

.section__column--text {
    width: 50%;
    padding: 24px;
}

.section__column--img-wrapper {
    width: 50%;
    display: flex;
    align-items: center;
}

.section__img {
    width: 100%;
    padding: 24px;
}

/* NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV  */

nav {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 0;
}

.logo {
    width: 40px;
    height: 40px;
    margin-right: -0.5px;
}

.treact {
    font-weight: 900;
    font-size: 24px;
    color: #243e63;
}

.nav__links--ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    color: rgb(36, 62, 99);
}

.nav__links {
display: flex;
margin: 0 12;
}

.nav__link {
    text-decoration: none;
    margin: 12px ;
}

.section__p {
    /* padding: 0 200px; */
    color: rgb(124, 139, 161);
}

/* LANDING LANDING LANDING LANDING LANDING LANDING LANDING LANDING LANDING LANDING LANDING LANDING LANDING  */

#landing {
   height: 100vh;
   margin: 6rem 0;
}

.row__landing {
    display: flex;
    align-items: center;
}

.landing__signup {
    display: flex;
    flex-direction: column;
    width: 60%;
}


h1 {
    font-size: 36px;
    font-weight: 700;
}

.text--purp {
    padding: 2px 2px 4px 2px;
    border-radius: 5px;
    background-color: rgb(114, 49, 242);
    border-style: solid;
    color: white;
}

h3 {
    color: rgb(114, 49, 242);
}

.landing__email {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
}
.landing__img--1 {
    margin-top: 16px 0;
    width: 100%;
    opacity: 0.5;
}

.blob-1 {
        position: absolute;
        left: -150px;
        bottom: -55px;
        z-index: -1;
        height: 16rem;
        width: 16rem;
        opacity: 0.05;
}

.landing__input {
    padding : 20px 192px 20px 32px;
    width: 100%;
    margin-bottom: 80px;
    border-radius: 50px;
    border-style: solid;
    border-color: rgb(118, 118, 118, 0.4);
position: relative;
display: flex;
}

.landing__button {
    position: absolute;
    right: 1rem;
    top: 0.36rem;
    display: flex;
}

.customers__para {
   line-height: 1;
   color: rgb(160, 174, 192);
}


.landing__img--2 {
    padding-left: 32px;
    width: 100%;
}

/* FEATURES FEATURES FEATURES FEATURES FEATURES FEATURES FEATURES FEATURES FEATURES FEATURES FEATURES FEATURES  */

/* .features__h2 {
    /* position: relative; */
/* } */ 

/* #features {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.row__features {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.features__h2 {
    width: 100%;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

h2
{
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
    color: #243e63;
    font-size: 3rem;
    font-weight: 900;
    margin-top: 16px;
    line-height: 1.35;
}

.subheading {
    margin: 0 0 16px;
font-size: 16px;
font-weight: 700;
letter-spacing: 1.6px;
/* position: absolute; */
/* top: -40px; */
display: flex;
text-align: center;
justify-content: center;
/* left: 250px; */
}

.services {
    padding: 8px 32px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
flex-wrap: wrap;
}

.service {
    width: calc(100% / 3);
    font-size: 24px;
    font-weight: 700;
    color: #7c8ba1;
    display: flex;
    padding: 32px 46px;
    position: relative;
}


.services__icon {
    height: fit-content;
    border-radius: 50px;
    border-color: rgb(226, 232, 240);
    border-style: solid;
    padding: 20px;
}

h4 {
    color: #243e63;
    font-size: 24px;
}

.service__description {
margin: 0 0 0 16px;
}

.blob-2 {
        position: absolute;
        right: -230px;
        bottom: -400px;
        width: 16rem;
        --tw-translate-x: 8rem;
        --tw-translate-y: 12rem;
        opacity: 0.25;
}

/* QUALITY WORK QUALITY WORK QUALITY WORK QUALITY WORK QUALITY WORK QUALITY WORK QUALITY WORK QUALITY WORK QUALITY WORK  */

.row__quality-work {
    display: flex;
    width: 100%;
    position: relative;
}

.subheading--left {
    display: flex;
    justify-content: start;
}

.quality_work__description {
    width: 45%;
    text-align: left;
margin-right: 44px;
}

.quality-work__img {
    max-width: 100%;
    max-width: 650px;
    border-radius: 0.25rem;
    border-style: solid;
    border-color: rgb(226, 232, 240);
}
    
    /* .quality-work__figure {
    position: relative; */

.blob {
        position: absolute;
        right: -3%;
        bottom: -7.5%;
        z-index: -1;
        height: 5rem;
        width: 5rem;
        fill: currentcolor;
        --tw-text-opacity: 1;
        color: rgb(100 21 255);
}

/* STEPS STEPS STEPS STEPS STEPS STEPS STEPS STEPS STEPS STEPS STEPS STEPS STEPS STEPS STEPS STEPS  */

.row__steps {
    display: flex;
}

.steps {
    width: 50%;
    margin-left: 40px;
}

.laptop {
    /* position: relative; */
    padding-right: 32px;
    /* margin-right: 32px; */
    width: 100%;
}

.blob-4 {
    left: 50%;
    opacity: 0.15;
    /* position: absolute; */
    right: 100px;
    bottom: -30px;
    z-index: -1;
    height: 5rem;
    width: 5rem;
    color: rgb(100 21 255);
}

.step {
    display: flex;
    margin-top: 32px;
}

h5 {
    color: rgb(203, 213, 224);
    font-size: 2.25rem;
}

.step__description {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}

.step__para {
    color: rgb(113, 128, 150);
font-size: 14px;
    margin: 12px 0 0 ;
    line-height: 2;
    margin-top: 0.75rem;
    padding-right: 230px;
}

h6 {
    font-size: 1.25rem;
    color: rgb(36, 62, 99);
}


/* VALUES VALUES VALUES VALUES VALUES VALUES VALUES VALUES VALUES VALUES VALUES VALUES VALUES VALUES VALUES VALUES VALUES VALUES VALUES  */

.emoji-1 {
    font-size: x-large;
    border-radius: 100px;
    /* border-style: solid; */
    /* border-color: #7c8ba138; */
    background-color: rgba(7, 160, 94, 0.19);
height: 44px;
width: fit-content;
padding: 8px;
transform: translateY(-10px);
}

.emoji {
    font-size: x-large;
    border-radius: 100px;
    /* border-style: solid; */
    /* border-color: #7c8ba138; */
    background-color: rgba(99, 21, 255, 0.121);
height: 44px;
width: fit-content;
padding: 8px;
transform: translateY(-10px);
}


.value {
    display: flex;
    flex-direction: column;
    padding-right: 32px;
}


.values__column {
    display: flex;
    
}

.row__values {
    display: flex;
}

/* PRICING PRICING PRICING PRICING PRICING PRICING PRICING PRICING PRICING PRICING PRICING PRICING PRICING PRICING PRICING PRICING PRICING PRICING PRICING PRICING PRICING PRICING  */

.pricing__heading {
text-align: center;
color: white;
}

.pricing__cards {
    display: flex;
}

.card {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% / 3);
    border-radius: 20px;
    border-style: solid;
    padding: 32px 0;
    margin: 16px;
}

.card__p {
    color: black;
}

.card__business {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% / 3);
    border-radius: 20px;
    border-style: solid;
    padding: 32px 0;
    margin: 16px;
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    /* background-position: initial; */
    background-position: initial;
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    --tw-bg-opacity: 1;
    background-color: rgb(100 21 255 / var(--tw-bg-opacity));
}

.card__description {
    color: white;
    padding: 42px;
    text-align: center;
}

.card__business--h2 {
    color: white;
}

.card__business--h4 {
    color:white;
}

.button__personal {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.button__business {

}

.button__enterprise {

}


/* TESTIMONIALS TESTIMONIALS TESTIMONIALS TESTIMONIALS TESTIMONIALS TESTIMONIALS TESTIMONIALS TESTIMONIALS TESTIMONIALS TESTIMONIALS TESTIMONIALS TESTIMONIALS  */

.row__testimonials {
    display: flex;
    
}

/* FAQS FAQS FAQS FAQS FAQS FAQS FAQS FAQS FAQS FAQS FAQS FAQS FAQS FAQS FAQS FAQS FAQS FAQS FAQS FAQS FAQS FAQS FAQS FAQS FAQS  */

.row__subheading {display: flex;
    flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}

.faqs__p {

    max-width: 600px;
}


/* GET STARTED GET STARTED GET STARTED GET STARTED GET STARTED GET STARTED GET STARTED GET STARTED GET STARTED GET STARTED GET STARTED  */

.row__cta__footer {
    border-style: solid;
    background-color: rgb(114, 49, 242);
    max-width: 1200px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin: 0 50px;
    padding: 0 32px;
}
.cta__footer--header {
    width: 80%;
    font-weight: 700;
    color: white;
    font-size: 30px;
    padding: 0 100px;
}

/* .get-started__buttons {
    width: 50%;
    display: flex;
        padding: 48px;
} */

.cta__footer--button-1 {
    background-color: rgb(245, 101, 101);
    color: white;
    border-style: solid;
    border-width: 0.5px;
    margin-right: 16px;
    padding: 4px 40px;
}

.cta__footer--button-2 {
    border-color: rgba(255, 255, 255, 0.712);
    border-style: solid;
    border-width: 0.5px;
    padding: 4px 40px;
}

/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER  */

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #6415ff;
    width: 100%;
}

.footer__ul--container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

li {
    margin: 12px;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 0;
}

.copyright {
    color: rgb(203, 213, 224);
}

.social__links--container {
    display: flex;
}

.social__icons {
    display: flex;
    align-items: center;
   margin-left: 32px;
    height: 24px;
    width: 24px;
    border-radius: 50px;
    background-color: white;
    padding: 5px;
}

.footer__logo--icon {
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 4px;
}

.footer__logo {
    display: flex;
    align-items: center;
}

.footer__treact {
    color: white;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.footer__ul--p {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    margin: 32px 0;
    color: rgb (36, 62, 99);
}