@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@200;500;700&family=Inter:wght@400;500;600;700;800;900&family=Lato:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  margin: 32px;
  padding: 80px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

p {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5;
  margin: 32px 0;
  color: #7c8ba1
}

button {
  background: linear-gradient(
    115deg,
    rgb(114, 49, 242) 0%,
    rgb(84, 3, 245) 100%
  );
  color: white;
  padding: 0.75rem 2rem;
  border-radius: 50px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
    transition: all 300ms ease;
}

button:hover {
    opacity: 0.7;
}

button:active {
    transform: translateY(3px);
}

header {
  margin: 2rem;
}

.section__column--text {
  width: 50%;
  padding: 24px;
}

.section__column--img-wrapper {
  width: 50%;
  display: flex;
  align-items: center;
}

.section__img {
  width: 100%;
  padding: 24px;
}

a:hover {
    text-decoration: underline;
}

section:nth-child(odd) {
    background: linear-gradient( 180deg, rgba(84, 3, 245, 0.257) 0%, rgba(101, 211, 245, 0.388) 100%);
  color: white;
}

/* NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV  */

nav {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 0;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: -0.5px;
}

.treact {
  font-weight: 900;
  font-size: 24px;
  color: #243e63;
}

.nav__links--ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  color: rgb(36, 62, 99);
}

.nav__links {
  display: flex;
  margin: 0 12;
  color: rgb(114, 49, 242);
  font-weight: bold;
}

.nav__link {
  text-decoration: none;
  margin: 12px;
  color: #7231f2;
}

.section__p {
  color: rgb(124, 139, 161);

}

.btn__menu {
  background: transparent;
  font-size: 32px;
  border: none;
  color: #7342d6;
  padding: 8px;
  display: none;
}

.menu__backdrop {
  position: absolute;
  background: linear-gradient( 180deg, rgb(114, 49, 242) 0%, rgb(84, 3, 245) 100% );  
  margin: 0 8px;
  box-shadow: 0px 10px 10px 10px #00000046;
  border-radius: 24px;
  top: 0;
  left: 0;
  right: 0;
  /* bottom: 0; */
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: all 300ms ease;
  opacity: 0;
  transform: translate(100%);
}

.menu--open {
  height: 300px;
  /* overflow: hidden; */
}

.btn__menu--close {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 8px;
  color: white;
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
  transform: translate(0);
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list {
  padding: 8px 0;
  font-size: 24px;
  font-weight: 200;

}

.menu__link {
  color: white;
  font-size: 32px;
  font-size: 20px;
  font-weight: 400; 
  text-decoration: none;
}

.menu__link--btn {
    color:white;
    font-weight: 600; 
    text-decoration: none;
    ;
}

.btn-menu__sign-up {
    padding: 20px 60px;
    background: linear-gradient( 180deg,  rgba(101, 211, 245, 0.903) 0%, rgba(154, 107, 247, 0.861)100%);
    margin-bottom: 8px;
   
}

/* LANDING LANDING LANDING LANDING LANDING LANDING LANDING LANDING LANDING LANDING LANDING LANDING LANDING LANDING LANDING LANDING LANDING LANDING LANDING LANDING LANDING LANDING  */

#landing {
    min-height: 100vh;
    min-width: 100vw;
  /* margin: 6rem 0; */
}

.row__landing {
  display: flex;
  align-items: center;
}

.landing__signup {
  display: flex;
  flex-direction: column;
  width: 60%;
}



.text--purp {
    font-weight: bolder;
  padding: 2px 2px 4px 2px;
  border-radius: 5px;
  background-color: #7231f2;
  border-style: none;
  background: -webkit-linear-gradient(#7231f4, #026969);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  color: rgb(114, 49, 242);
}

.landing__email {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.landing__img--1 {
  margin-top: 16px 0;
  width: 100%;
  opacity: 0.5;
}

.blob-1 {
  position: absolute;
  left: -150px;
  bottom: -55px;
  z-index: -1;
  height: 16rem;
  width: 16rem;
  opacity: 0.05;
}

.landing__input {
  padding: 20px 32px 20px 32px;
  width: 100%;
  margin-bottom: 4px;
  border-radius: 50px;
  border-style: solid;
  border-color: rgb(118, 118, 118, 0.4);
  position: relative;
  display: flex;
}

.landing__button {
    margin: 6px 4px 6px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
 width: 150px;
 height: 48px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.customers__para {
  line-height: 1;
  color: rgb(160, 174, 192);
  margin-top: 48px;
}

.landing__img--2 {
  padding-left: 32px;
  width: 100%;
}

/* FEATURES FEATURES FEATURES FEATURES FEATURES FEATURES FEATURES FEATURES FEATURES FEATURES FEATURES FEATURES FEATURES FEATURES FEATURES FEATURES FEATURES FEATURES FEATURES  */

.row__features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.features__subheading {
  /* width: 100%; */
  /* max-width: 650px; */
  padding: 8px 32px;
  display: flex;
  flex-direction: column;
text-align: center;
  justify-content: center;
}

h1 {
    font-size: 50px;
    font-weight: 800;
    color: #000000;
  margin-top: 16px;
  line-height: 1.35;
  width: 100%;
  }

.subheading {
  margin: 0 0 16px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.6px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.services {
  padding: 8px 32px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.service {
  width: calc(100% / 3);
  font-size: 24px;
  font-weight: 700;
  color: #7c8ba1;
  display: flex;
  padding: 32px 46px;
  position: relative;
}

.services__icon {
  height: fit-content;
  border-radius: 50px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  padding: 20px;
}

h4 {
  color: #243e63;
  font-size: 24px;
}

.service__description {
  margin: 0 0 0 16px;
}

.blob-2 {
  position: absolute;
  right: -300px;
  bottom: -330px;
  width: 16rem;
  --tw-translate-x: 8rem;
  --tw-translate-y: 12rem;
  opacity: 0.15;
  width: 400px; 
  height: 450px;
}

/* QUALITY WORK QUALITY WORK QUALITY WORK QUALITY WORK QUALITY WORK QUALITY WORK QUALITY WORK QUALITY WORK QUALITY WORK QUALITY WORK QUALITY WORK QUALITY WORK QUALITY WORK  */

#quality-work {
    min-height: 100vh;
}

.row__quality-work {
  display: flex;
  width: 100%;
  position: relative;
}

.subheading--left {
  display: flex;
  justify-content: start;
}

.quality-work__description {
  width: 45%;
  text-align: left;
  margin-right: 12px;
}

.quality-work__img {
  max-width: 100%;

  border-radius: 0.25rem;
  border-style: solid;
  border-color: rgb(226, 232, 240);
}

.quality-work__figure {
    position: relative; }
    

.blob {
  position: absolute;
  right: -15%;
  bottom: -20%;
  z-index: -1;
  height: 300px;
  width: 350px;
  fill: currentcolor;
  --tw-text-opacity: 1;
  color: rgb(100 21 255);
}

/* STEPS STEPS STEPS STEPS STEPS STEPS STEPS STEPS STEPS STEPS STEPS STEPS STEPS STEPS STEPS STEPS STEPS STEPS STEPS STEPS STEPS STEPS STEPS STEPS STEPS STEPS STEPS STEPS  */

#get-started {
    min-height: 100vh;
}

.row__steps {
  display: flex;
}

.steps {
  width: 50%;
  margin-left: 40px;
}

.laptop {
  padding-right: 32px;
  width: 100%;
}

.get-started__figure--wrapper {
    position: relative;
}

.blob-4 {
  left: -20%;
  opacity: 0.15;
  position: absolute;
  bottom: -60px;
  z-index: -1;
  height: 250px;
  width: 300px;
  transform: rotate(59deg);
  color: rgb(100 21 255);
}

.step {
  display: flex;
  margin-top: 32px;
}

h5 {
  color: rgb(255, 255, 255);
  font-size: 2.25rem;
}

.step__description {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}

.step__para {
  color: rgb(66, 66, 66);
  font-weight: 500;
  font-size: 16px;
  margin: 12px 0 0;
  line-height: 2;
  margin-top: 0.75rem;
  padding-right: 230px;
}

h6 {
  font-size: 1.25rem;
  color: rgb(36, 62, 99);
}

/* VALUES VALUES VALUES VALUES VALUES VALUES VALUES VALUES VALUES VALUES VALUES VALUES VALUES VALUES VALUES VALUES VALUES VALUES VALUES VALUES VALUES VALUES VALUES VALUES VALUES  */

.emoji-1 {
  display: flex;
  align-items: center;
  font-size: x-large;
  border-radius: 100px;
  background-color: rgba(7, 160, 94, 0.19);
  height: 40px;
  width: fit-content;
  padding: 8px;
  transform: translateY(-10px);
}

.emoji {
  display: flex;
  align-items: center;
  font-size: x-large;
  border-radius: 100px;
  background-color: rgba(99, 21, 255, 0.121);
  height: 40px;
  width: fit-content;
  padding: 8px;
  transform: translateY(-10px);
}

.value {
  display: flex;
  flex-direction: column;
  padding-right: 32px;
}

.values__column {
  display: flex;
}

.row__values {
  display: flex;
}

/* PRICING PRICING PRICING PRICING PRICING PRICING PRICING PRICING PRICING PRICING PRICING PRICING PRICING PRICING PRICING PRICING PRICING PRICING PRICING PRICING PRICING PRICING  */

.pricing__heading {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing__heading--p {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5;
  margin: 8px 0;
  color: #7c8ba1;
  max-width: 650px;
  text-align: center;
}

.pricing__cards {
  display: flex;
  height: 100%;
  justify-content: center;
}

.card__description {
  color: white;
  padding: 8px;
  text-align: center;
}

.card__monthly {
  margin: 8px 0;
  color: black;
}

.card__business--monthly {
  margin: 8px 0;
  color:white
}

.card__p {
  color: black;
  line-height: 0.75;
}

hr {
  height: 1px;
  width: 100%;
  opacity: 0.45;
  margin-bottom: 16px;
  margin-top: 4px;
}

.card__personal {
  color: black;
  box-shadow: 0 15px 15px rgba(5, 5, 5, 0.291);
  background: linear-gradient(
    115deg,
    rgba(56, 178, 172, 0.279) 0%,
    rgba(129, 230, 217, 0.14) 100%
  );
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% / 3.5);
  border-radius: 0.5rem;
  border-style: solid;
  border-color: rgba(56, 178, 172, 0.46);
  padding: 16px 0;
  margin: 16px;
}

.card__personal--accent {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-style: solid;
  border-color: white;
  border-width: 0px;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.button__personal {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  border-style: none;
  padding: 16px 48px;
}
.card__business {
  color: white;
  box-shadow: 0 15px 15px rgba(5, 5, 5, 0.291);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% / 3.5);
  border-radius: 0.5rem;
  border-style: solid;
  border-color: rgba(76, 82, 191, 0.275);
  padding: 16px 0;
  margin: 16px;
  background-image: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
  --tw-bg-opacity: 1;
  background-color: rgb(100 21 255 / var(--tw-bg-opacity));
}

.card__business--h2 {
  color: white;
  font-size: 48px;
}

.card__business--h4 {
  color: white;
  font-size: 24px;
}

.card__p-business {
  line-height: 0.75;
  color: white;
}

.button__business {
  background: white;
  color: rgb(76, 81, 191);
  border: none;
  border-style: none;
  padding: 16px 48px;
}

.card__enterprise {
  color: black;
  box-shadow: 0 15px 15px rgba(5, 5, 5, 0.291);
  background: linear-gradient(
    115deg,
    rgba(245, 101, 101, 0.565) 0%,
    rgb(254, 178, 178) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% / 3.5);
  border-radius: 0.5rem;
  border-style: solid;
  border-color: rgba(245, 101, 101, 0.501);
  padding: 8px 0;
  margin: 16px;
  position: relative;
}

.enterprise__card--accent {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 0.5rem;
  border-top-left-radius: 0.9rem;
  border-top-right-radius: 1rem;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.402);
  border-width: 0px;
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.button__enterprise {
  background: linear-gradient(
    115deg,
    rgb(248, 189, 189) 100%, 
    rgb(243, 130, 130) 0%
  );
  border-style: none;
  padding: 16px 48px;
}

/* TESTIMONIALS TESTIMONIALS TESTIMONIALS TESTIMONIALS TESTIMONIALS TESTIMONIALS TESTIMONIALS TESTIMONIALS TESTIMONIALS TESTIMONIALS TESTIMONIALS TESTIMONIALS TESTIMONIALS TESTIMONIALS  */

.row__testimonials {
  display: flex;
}

.slide-container {
    padding: 8px;
    height: 100%;
}

.slide-wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 500px;
}

.slider {
    display: flex;
    overflow-x: auto;
    /* scroll-snap-type: x mandatory; */
    scroll-behavior: smooth;
    box-shadow: 0 0.5rem 1rem -0.25rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}

#slide-1 {
    flex: 1 0 100%;
    scroll-snap-align: start;
    padding: 12px;
    width: 100%;
}
#slide-2 {
    flex: 1 0 100%;
    scroll-snap-align: start;
    padding: 12px;
    width: 100%;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1%;
    left: 50%;
    /* transform: translateX(-50%); */
    z-index: 1;
}

.slider-nav a {
    opacity: 0.75;
    transition: opacity ease 300ms;
}

.slider a:hover {
    opacity: 100%;
}

.testimonial {
    display: flex;
}

.testimonial__img-1 {
    border-radius: 100px;
    height: 5rem;
    width: 5rem;
    margin-right: 12px;
}

.customer-name {
    margin-right: 72px;
}

.customer__title {
    margin: 4px 48px 4px 4px;


}
 

.testimonial__button-l, .testimonial__button-r {
    padding: 0.5rem 0.5rem;
   color : rgba(99, 21, 255);
    background : rgb(241, 223, 255);
    margin: 4px;
}

blockquote {
    color:#7c8ba1;
    margin: 16px 0 40px;
    line-height: 1.5;
}

.ratings {
    color: #e6a40c;
    margin: 8px 0;

}

/* FAQS FAQS FAQS FAQS FAQS FAQS FAQS FAQS FAQS FAQS FAQS FAQS FAQS FAQS FAQS FAQS FAQS FAQS FAQS FAQS FAQS FAQS FAQS FAQS FAQS FAQS FAQS FAQS FAQS FAQS FAQS FAQS FAQS FAQS FAQS  */

#faqs {
    min-height: 100vh;
    background: linear-gradient( 180deg, rgba(101, 211, 245, 0.388) 0%, rgb(114, 49, 242) 100%);}

.row__subheading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.faqs__p {
  max-width: 600px;
}

dd {
    display: block;
    margin-inline-start: 40px;
}

.FAQscontainer {
    position: relative;
    margin-top: 3rem;
    max-width: 56rem;
}

.FAQgroup {
margin-top: 1.25rem;
    cursor: pointer;
    user-select: none;
    border-radius: 0.5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(237 242 247 / var(--tw-bg-opacity));
    padding: 1.25rem 2rem;
    --tw-text-opacity: 1;
    color: rgb(45 55 72 / var(--tw-text-opacity));
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 300ms;
}

.FAQQuestion {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.QuestionText {
        font-size: 1.125rem;
        font-weight: 600;
}

.QuestionToggleIcon {
    margin-left: 0.5rem;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 300ms;
    display: block;
    vertical-align: middle;
    /* transform: rotate(-180deg) translateZ(0px); */
}

/* .chevron-down {
    transform: matrix(-1, 0, 0, -1, 0, 0)
} */

.Answer {
        pointer-events: none;
        font-size: 0.875rem;
        line-height: 1.625;
        opacity: 0; height: 0px; margin-top: 0px;
    }


/* GET STARTED GET STARTED GET STARTED GET STARTED GET STARTED GET STARTED GET STARTED GET STARTED GET STARTED GET STARTED GET STARTED GET STARTED GET STARTED GET STARTED GET STARTED  */

.row__cta--footer {
  border: none;
  background: rgb(114, 49, 242);
  box-shadow: 0 15px 10px 5px #00000051;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
}
.cta__container {
  position: relative;
}

.cta__footer--header {
  width: 80%;
  font-weight: 700;
  color: white;
  font-size: 30px;
  padding: 0 100px;
}


.cta__footer--buttons {
    display: flex;
    margin: 8px;
    padding: 8px;
}

.cta__footer--button-1 {
    background: linear-gradient( 115deg, rgb(245, 101, 101) 0%, rgb(84, 3, 245) 100% );
  color: white;
  box-shadow: 0 15px 15px #0000003c;
  border-style: solid;
  border-width: 0.5px;
  margin: 16px;
  padding: 0.75rem, 2rem;
}

.cta__footer--button-2 {
  border-color: rgba(255, 255, 255, 0.712);
  border-style: solid;
  border-width: 0.5px;
  padding: 0.75rem, 2rem;
  margin: 16px;
}

.cta__img {
  width: 100%;
}

.blocks {
    opacity: 0.5;
  width: 300px;
  bottom: -60px;
  left: -130px;
  position: absolute;
  z-index: -1;
}

/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER  */

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: 
    rgb(114, 49, 242);
  width: 100%;
  padding: 12px;
  min-height:fit-content;
}

.footer__ul--wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

li {
  margin: 12px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px 0;
  position: relative;
  max-width: 100vw;
}

.copyright {
  color: rgb(203, 213, 224);
}

.social__links--container {
  display: flex;
}

.social__icons {
  display: flex;
  align-items: center;
  margin-left: 32px;
  height: 24px;
  width: 24px;
  border-radius: 50px;
fill: #7231f2;;  
background-color: rgb(255, 255, 255);
  padding: 5px;
}

.footer__logo--icon {
  align-items: center;
  width: 40px;
  height: 40px;
  margin-right: 4px;
}

.footer__logo {
  display: flex;
  align-items: center;
}

.footer__treact {
  color: white;
  font-weight: 700;
  display: flex;
  align-items: center;
}


.footer__ul--p {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  margin: 32px 0;
  color: white
}

.footer__ul--a-href {
  text-decoration: none;
  color: white;
}

.footer__blocks {
  width: 250px;
  rotate: 180deg;
  top: 10px;
  position: absolute;
  z-index: -1;
}

/* RESPONSIVENESS RESPONSIVENESS RESPONSIVENESS RESPONSIVENESS RESPONSIVENESS RESPONSIVENESS RESPONSIVENESS RESPONSIVENESS RESPONSIVENESS RESPONSIVENESS RESPONSIVENESS RESPONSIVENESS   */
/* @ MEDIA @ MEDIA @ MEDIA @ MEDIA @ MEDIA @ MEDIA @ MEDIA @ MEDIA @ MEDIA @ MEDIA @ MEDIA @ MEDIA @ MEDIA @ MEDIA @ MEDIA @ MEDIA @ MEDIA @ MEDIA @ MEDIA @ MEDIA @ MEDIA @ MEDIA  */

/* SMALL PHONES, LARGE SMARTPHONES */
@media (max-width: 768px) {
    .btn__menu {
      display: block;
    }
  
    .nav__links {
      display: none;
    }

  .row__landing {
    display: flex;
    flex-direction: column;
  }

  .services {
flex-direction: row;
padding: 4px; 
flex-wrap: wrap;   
  }

  .service {
    padding: 4px;
    width: calc(100% / 2);  
}

  .p {
    width: 100%;
    margin: 0px;
  }

  h1 {
    font-size: 40px;
    align-items: center;
  }

  h2 {
    font-size: 40px;
  }

  button {
    font-size: 18px;
  }


.row__steps {
    flex-direction: column;
    padding: 0%;
    align-items: center;
}

.step__para {
    padding: 0;
}

.section__img {
    width: 100%;
}

.row__values {
    flex-direction: column-reverse;
    align-items: center;
    
}

.row__quality-work {
    flex-direction: column;
align-items: center;}

.quality-work__description {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 12px;
}

.blob {
    width: 200px;
    height: 150px;
    top: 400px;
    bottom: 0;
    right: -50px;
}

.section__img {
    width: 100%;
}

.section__column--text {
    align-items: center;
    justify-content: center;
}

h2 {
    text-align: center;
}

.subheading, .subheading--left {
    display: flex;
justify-content: center;}

.pricing__cards {
    flex-direction: column;
align-items: center;}


.card__business {
    width: 300px;
}

.card__enterprise {
    width: 300px;
}

.card__personal {
    width: 300px;
}

.row__testimonials {
    flex-direction: column;
    align-items: center;
}

.section__img {
    width: 100%;
}

.row__cta--footer {
    flex-direction: column;
    padding: 8px;
}

.cta__footer--button-1, .cta__footer--button-2 {
    margin: 8px;
}

footer {
    padding :12px;
}

.landing__button {
    position: relative;
    width: 100%;
}

.section__column--text {
    width: 80%;
}

.slider-nav {
    /* bottom: 1%; */
    /* transform: translatey(176%); */

}

}

@media (max-width: 550px) {

    h1 {
        text-align: center;
    }

    .row__testimonials {
        width: 100%;
        padding: 0;    
    }

    .section__img {
        padding: 0;
    }

    .section__column--text {
        padding: 0%;
    }

    .slider-nav {
        /* top: 105%; */
    }

.row__cta--footer {
    margin: 0;
}

.cta__footer--header {
    font-size: 19px;
    text-align: center;
    margin: 0;
    padding: 24px 0;
}

.cta__footer--buttons {
    flex-direction: column;
}

.cta__footer--button-1 {
    margin-bottom: 8px;
}

.quality-work__description {
width: 100%;
}

.service {    
    width: 100%;
display: flex;
justify-content: center;
    }

    .blob {
        
        top: 250px;
        bottom: 0;
        right: -50px;
    }

    .step {
        width: 100%;
        flex-direction: column;
    }
    }

@media (max-width: 520px) {
    .section__column--text {
width: 100%;
    }

    .footer__ul--wrapper {
        flex-wrap: wrap;
    }

h1 {
    width: 100%;
    font-size: 28px;
}

.footer__container {
    flex-direction: column;
}
}
    